img{
  height: 25%;
  width : 25%;
  margin : 0 auto;
  display:block;
}

.page-header {
  padding-top: 10px;
}

tr {
    text-align: center;
}

#alert{
    background-color: indianred;
}

tr, th{
  text-align: center;
}

table {
  border: 0;
  table-layout: fixed;
}

.transcript-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
