<div ng-app="detailApp" ng-controller="detailsCtrl as ctrl">
  <div class="container text-center" >
    <div class="caller">
      <div id="call-details">
        <br><br>
        <h1>Caller Details</h1>
        <table class="container text-center table-striped">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mood Level</th>
            <!-- <th>Take Action</th> -->
          </tr>
          <tr>
            <td><strong>{{ctrl.caller.id}}<strong></td>
            <td>{{ctrl.caller.name}}</td>
            <td>{{ctrl.caller.mood}}/100</td>
          </tr>
        </table>
        <br>
        <h2 ng-if="ctrl.caller.transcript">Transcript</h2>
        <p style="text-align: left">{{ctrl.caller.transcript}}</p>
          <!-- <tr>
            <th colspan="3">Transcript</th>
          </tr>
          <tr>
            <td rowspan="4" colspan="3">{{ctrl.caller.transcript}}</td>
          </tr> -->
            <!-- <td>
              <button class="btn btn-block btn-primary" ng-click="connectCall()">
                  <i class="fa fa-phone" aria-hidden="true"></i>
              </button>
            </td> -->
        </table>
        <br><br>
        <a href="/">Back</a>
      </div>
    </div>
  </div>
</div>
