<div class="text-center" ng-app="homeApp" ng-controller="homeCtrl as ctrl">
    <div class="container text-center" id="call-center">
        <div id="calls">
          <br><br>
          <h1>Calls</h1>
            <table class="container text-center table-striped">
                <tr>
                    <th class="text-center">Transcript Preview</th>
                    <!-- <th class="text-center">Name</th> -->
                    <!-- <th class="text-center">Level</th> -->
                    <th class="text-center">Details</th>
                </tr>
                <tr ng-repeat="c in ctrl.callers">
                    <td><div class="transcript-preview">{{c.doc.text}}</div></td>
                    <!-- <td>{{c.name}}</td> -->
                     <!--<td ng-if="c.mood<=20">
                        <i class="fa fa-circle" style="font-size:24px;color:green"></i>
                    </td>
                    <td ng-if="c.mood<=40 && c.mood>20">
                        <i class="fa fa-circle" style="font-size:24px;color:yellow"></i>
                    </td>
                    <td ng-if="c.mood<=74 && c.mood>40">
                        <i class="fa fa-circle" style="font-size:24px;color:orange"></i>
                    </td>
                    <td ng-if="c.mood>=75">
                        <i class="fa fa-circle" style="font-size:24px;color:red"></i>
                    </td> -->
                    <td>
                        <a class="badge badge-info badge-pill" href="#!details?id={{$index}}">Link</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <!-- ?id={{c.id}}&name={{c.name}}&mood={{c.mood}} -->
